/*feuille de style bettermotherfuckingwebsite*/

body
{
	margin: 40px auto;
	max-width: 650px;  
	line-height: 1.6;
	font-size: 18px;
	color: rgb(55, 55, 55);
	padding: 0 10px;
}

h1, h2, h3
{
	line-height: 1.2;
	color: rgb(55, 55, 55);
}

button
{
	background-color: magenta;
	padding: 8px;
	color: blue;
	font-weight: bold;
	font-size: 1.4em;
	border: 3px dotted blue;
	width: 300px;
	height: 60px;
}

button:hover
{
	background-color: blue;
	color: yellow;
	border-color: yellow;
}
